@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-noto-sans;
    /* font: "noto-sans"; */
  }
  #__next,
  body {
    width: 100vw;
    height: 100vh;
  }
  #__next {
    display: flex;
    flex-direction: column;
  }
}
